@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: pink;
    overflow: hidden;
}

#main{
    background-color: black;
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    /* font-style: oblique; */
    /* font-style: italic; */
    user-select: none;

}

.upper{
    z-index: 99;
    top: 31.9%;
    position: absolute;
    color:white;
    clip-path: polygon(0 0, 100% 0, 100% 48%, 0 58%);
    transform: translateX(2px);
    text-shadow: 0 1px 10 black;
}

.lower{
    position: absolute;
    background: linear-gradient(178deg, black 54%, white 65%) ;
    background-clip: text;
    color: transparent;
    clip-path: polygon(0 60%, 100% 50%, 100% 100%, 0 100%);
}
